@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
/* font-family: 'Patrick Hand', cursive; */
body {
  height: 100%;
}
h1 {
  font-family: "Patrick Hand", cursive;
  text-align: center;
  color: #4361ee;
}

.container {
  text-align: center;
  /* background-color: #219ebc; */
  width: 80%;
  height: 300px;
  margin: 0 auto;
  /* border: 0.5px solid blue; */
  padding-top: 50px;
}
.words {
  padding-top: 20px;
  color: #4361ee;
}
i {
  padding-top: 20px;
  color: #4361ee;
  padding-left: 20px;
}

.message2 {
  color: red;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
}
